<!doctype html>
<html lang="en">

<!-- opening head tag  -->
  <head> 
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
          
      <!-- title bar -->
      <title>Hot Topic</title>
    <!--font headers-->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">    
    <!--font body -->
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    
    <!-- bootstraplink -->
  
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <!-- slider to go on top on the bottom click -->
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">


    <!-- bootstrap stylesheet - before anything else -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
    <!-- link of the toggle bar - from fontaweosme -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

    <!-- css stylesheet.css-->
    <link rel="stylesheet" type="text/css" href="../css/style.css"> 
   </head>
       
<header>
<nav>
    <ul>
       <img class = "logo" src="../img/ekubag-logo.png" alt="ekubag logo">  

        <li><a href="../index.html">home</a></li>
        <li><a href="portfolio.html">portfolio</a></li>
    </ul>

</nav>

<!--masthead-->
<div class="title">
    <h2>creation of work</h2> 
</div>
<!--closing masthead-->
    
</header>

<div class="container-fluid"> 
    
<body>
       

<main>
<div class="portfolio">
<h1>Portfolio</h1>
<div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <figure>
            <img class="card-img-top" src="../img/sunday-drunch.jpg" alt="sunday-drunch.">
           <figcaption><h5 class="card-text">Sunday Drunch</h5></figcaption>
        </figure>
      </div> 
    </div>
  </div>
  
  
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <figure>
	       <img class="card-img-top" src="../img/breast-cancer.jpg" alt="breast-cancer">
           <figcaption><h5 class="card-text">Pink Initiative</h5></figcaption>
        </figure>
      </div>
    </div>
  </div>
  
  
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <figure>
	    <img class="card-img-top" src="../img/chal-rang-de.png" alt="chal-rang-de">
       <figcaption><h5 class="card-text">ChaL Rang De</h5></figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <figure>
	    <img class="card-img-top" src="../img/ui-content.jpg" alt="chal-rang-de">
       <figcaption><h5 class="card-text">Arsenal of Poems</h5></figcaption>
        </figure> 
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <figure>
	    <img class="card-img-top" src="../img/cover.jpg" alt="chal-rang-de">
       <figcaption><h5 class="card-text">Ui Content</h5></figcaption>
        </figure>         
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <figure>
	    <img class="card-img-top" src="../img/womensday.jpg" alt="womens day">
       <figcaption><h5 class="card-text">Womens Day</h5></figcaption>
        </figure>  
      </div>
    </div>
  </div>
</div>
</div>    
    
</div>
</main>

      
<footer>
    <p>&copy; copyright Bubbles Studios 2019.
        <a>122 Monterey drive, Ottawa Ontario, Canada. Postal Code: K3H9A0. Contact: 873 888 6000</a>	
        <br>		 				 	   
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-facebook"></a> 
            <a href="#" class="fa fa-twitter"></a>  
    </p>
</footer>

                           
<script src="./js/index.js"></script>

    </body>
    </div>
</html>